<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Developer</title>
</head>
<body>
<header>
    <div>
        <!-- Contenedor de redes sociales -->
        <ul class="social-icons">
            <li class="social-item"><a class="social-link" href="https://www.facebook.com/tu_perfil" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li class="social-item"><a class="social-link" href="https://www.linkedin.com/in/tu_perfil" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li class="social-item"><a class="social-link" href="https://github.com/tu_perfil" target="_blank"><i class="fab fa-github"></i></a></li>
        </ul>
    </div>
    <!-- Contenedor de encabezado -->
    <div class="header-content">
        <h3>Hola soy</h3>
        <h1>Jonathan Gonzalez</h1>
        <h5>Desarrollador de Software</h5>
    </div>
</header>


</body>
</html>